*{
 margin: 0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;
 box-sizing: border-box;
 text-decoration: none;
}

h1{
  padding: 10px 0 0px 0;
}

.dont-have{
  color: #B0B2C1;
  font: 15px Nunito, sans-serif;
}

h3{
  color: 1D244F;
  font: 22px 'Nunito', sans-serif;
  font-weight: bold;
  margin: 0px 0px 8px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #dfe1ea;
  color: #1d244f

}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color:#f77f7f;
  border: 2px solid #f77f7f;
  color: white;
  padding: 14px 20px;
  margin-top: 50px !important;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  border-radius: 30px;
}

button:hover {
  opacity:1;
}

/* The Modal (background) */
.modal {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 750px;
  background-color: #f3f5ff;
  background-blend-mode: multiply;
  padding-bottom: 30px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 0px solid #888;
  border-radius: 4px;
  padding: 20px;
  width: 50%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 26px 0 rgb(0 0 0 / 14%);;
}

.remenber-forgot{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
   margin-left: -15px;
}
